body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: #f9f9f9;
  cursor: pointer;
  transition: 0.25s ;
}

button:hover {
  border-color: #646cff;
}

input {
  width: 100%;
  padding: 0.5em 1em;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #1a1a1a;
  color: #f9f9f9;
}

.wallet {
  background-color: #1a1a1a;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  font-family: monospace;
  word-break: break-all;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #242424;
  }

  button {
    background-color: #f2f2f2;
    color: #242424;
    border: 1px solid transparent;
  }

  button:hover {
    border-color: #474ed9;
  }

  input { 
    background-color: #f2f2f2;
    color: #242424;
    border: 1px solid #ccc;
  }

  .wallet {
    background-color: #f2f2f2;
    color: #242424;
  }
}
